@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

.modal {
  background: linear-gradient(180deg, rgba(49, 130, 230, 0.25) 0%, rgba(55, 163, 237, 0.25) 9.9%, rgba(255, 255, 255, 0.25) 46.88%), #FFFFFF;
  box-shadow: -4px -16px 32px rgba(20, 18, 30, 0.04), 4px 16px 32px rgba(20, 18, 30, 0.08);
}

.term::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: transparent;
}

.term::-webkit-scrollbar-thumb {
  background-color: #DEDFE3;
  border-radius: 3px;
}

input:focus-visible {
  outline: 0px;
}

button {
  background: linear-gradient(94.28deg, #32C7E8 -54.93%, #2F6CE6 51.88%);
  border-radius: 8px;
  font-weight: 600;
}

button:hover {
  background: linear-gradient(94.28deg, #32C7E8 -54.93%, #2F6CE6 51.88%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

button:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #2F6CE6;
  background: linear-gradient(94.28deg, #32C7E8 -54.93%, #2F6CE6 51.88%);
}

button:active {
  background: linear-gradient(0deg, rgba(5, 17, 56, 0.2), rgba(5, 17, 56, 0.2)),
    linear-gradient(94.28deg, #32C7E8 -54.93%, #2F6CE6 51.88%);
}

button:disabled {
  background: linear-gradient(94.28deg, #32C7E8 -54.93%, #2F6CE6 51.88%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.32));
}

.language {
  background: linear-gradient(0deg, rgba(18, 34, 82, 0.1), rgba(18, 34, 82, 0.1)),
    linear-gradient(0deg, #545FE8, #545FE8);
  border: 1.5px solid rgba(18, 34, 82, 0.1);
  border-radius: 16px;
  padding: 0px 12px;
  gap: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.label-success {
  padding: 0px 12px;
  display: inline-block;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #0A7B6E;
  background: rgba(33, 155, 141, 0.12);
  border: 1.5px solid rgba(33, 155, 141, 0.12);
  border-radius: 24px;
}

.label-info {
  display: inline-block;
  background: rgba(2, 132, 199, 0.12);
  border: 1.5px solid rgba(2, 132, 199, 0.12);
  border-radius: 24px;
  padding: 0px 12px;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #0A72A8;
}

.relate {
  color: #4D597D;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #FFFFFF;
  border: 1px solid #DEDFE3;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 4px;
}

.small {
  font-size: 14px !important;
  line-height: 20px !important;
}

.medium {
  font-size: 14px !important;
  line-height: 24px !important;
}